* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.one {
  background: rgb(31, 99, 31);
}
.two {
  background: coral;
}
.third {
  background: cornflowerblue;
}
.four {
  background: violet;
}
